body {
  /* color: white; */
  /* background-color: black; */
  background: fill;
  background-image: url(./assets/images/github.png)
}

.form-group {
  opacity: 1.0;
  float: left;
}

@import "~bootstrap/dist/css/bootstrap.css"
